    <div class="container">
        <div class="row">
          <% @posts.each do |post| %>

                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-9 col-md-9">
                                    <div>
                                        <div class="mic-info">
                                             <a href="?user=<%=post.user.id%>"> <h4><%=post.user.name%></h4> </a>
                                        </div>
                                    </div>
                                    

                                    <h4 class="comment-text">
                                        Başlık: <%=post.title%> <br/>
                                        <br/>
                                        Mesaj: <%=post.msg%>
                                    </h4>
              
                                    
                                </div>
                                <div class="col-xs-3 col-md-3 text-right">
                                    
                                    <div class="action">
                                        <%=post.created_at%>
                                      <%= link_to '', post, :method => :delete, data: {confirm: 'Eminmisin?',commit: 'Evet'},class:"glyphicon glyphicon-trash" %>
                                      <%= link_to '', edit_post_path(post),class:"glyphicon glyphicon-pencil" %>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            
            <%end%>
        </div>
    </div>
